*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}
/*root faz referencia ao html*/
:root{
    --cor_de_fonte:red;
    --cor_background_padrao: yellow;
}
#header_top{
    width: 100%;
    height: 80px;
    background-color: rgb(255,179,0);
}
main{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
article,p{
    width: 100%;
    height: auto;
}
p{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 32px;/*permite criar um espaçamento entre as linhas*/
}
article #article_header{
    padding: 10px;
    height: auto;
    width: 100%;
    border-bottom: 1px solid black;
}
article > #article_header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
nav#menu{
    width: 80%;
    height: auto;
    padding: 10px;
   /* background-color: rebeccapurple;*/
    margin: 0 auto;
}
nav#menu > .item_menu{
    text-decoration: none;/*remove o sublinhado do link*/
    color: white;
    padding: 10px;
    font-size: 16px;
}
nav#menu > .item_menu:hover{/*muda as caracteristicas quando passa o mouse */
    text-decoration: none;/*remove o sublinhado do link*/
    color: black;
    padding: 10px;
    font-size: 20px;
    background-color: green;
}
main > #receitas{
    background-color: var(--cor_background_padrao);
    width: 100%;
    height: 600px;
}